.Portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 5rem;
    gap: 2rem;
    padding: 3rem;
}
.title_portfolio {
    padding: 6rem 2rem 0 6rem;
}
.title_project {
    color: #e8e2e2;
}

.Portfolio__Project {
    width: 100%;
    padding: 1rem;
    position: relative;
    background-color: #fafafa;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 15px #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.Portfolio__Project-Image {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.Portfolio__Project-Image img {
    width: 100%;
    height: auto;
    transition: all 0.4s ease-in-out;
}

.Portfolio__Project:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 20px #ccc;
}

.Portfolio__Project:hover .Portfolio__Project-Image img {
    transform: scale(1.2);
    opacity: 0.6;
}

.Portfolio__Project-Description {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: #0f1626;
    background-color: #e4e0e0d2;
    font-weight: bold;
    padding: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    height: 100%;
}

.Portfolio__Project:hover .Portfolio__Project-Description {
    opacity: 1;
    visibility: visible;
}

/* ----Media Query---- */
@media (max-width: 992px) {
    .Portfolio {
        grid-template-columns: repeat(2, 1fr);
        padding: 1rem;
    }
    .title_portfolio {
        padding: 5rem 2rem 0 3rem;
    }
}
@media (max-width: 768px) {
    .Portfolio {
        grid-template-columns: repeat(2, 1fr);
    }
    .title_portfolio {
        padding: 5rem 2rem 0 2rem;
    }
}
@media (max-width: 480px) {
    .Portfolio {
        grid-template-columns: repeat(1, 1fr);
    }
}
